<div style="margin-top: 10px"> </div>
<h1>Create Resources</h1>
<form class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-xs-3" for="inputName">Name:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="inputName" placeholder="name">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-3" for="inputEmail">Email:</label>
        <div class="col-xs-9">
            <input type="email" class="form-control" id="inputEmail" placeholder="email">
        </div>
    </div>

    <br>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-primary" value="Create">
            <input type="reset" class="btn btn-default" value="Reset">
        </div>
    </div>

</form>
